@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    position: relative;
    width: 100%;
}

#fundo{
    width: 89.7%;
    position: relative;
}
#astronauta{
    position: absolute;
    top: 0;
    left: 0;
}